body {
  min-height: 100vh;
  text-align: center;
}

.birthchart-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-group {
  display: flex;
  justify-content: space-evenly;
}

.list-group-item {
  padding: 20px;
  border: 1px black solid;
  margin-right: 20px;

  /* align-items: flex-start; */
}

.chart {
  padding: 10px;
}

.bc-template {
  width: 100%;
  height: 800px;
  display: block;
  outline: solid 1px rgb(78, 75, 75);
}

.sign.icon {
  max-width: 40px;
  padding: 5px 5px 0 5px;
}

.sign.icon.chart {
}

.chart-id {
  padding: 10px;
  font-size: 0.6rem;
}

.page-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  margin-top: 50px;
}
