body {
  min-height: 100vh;
  text-align: center;
}

.list-group {
  display: flex;
  justify-content: space-evenly;
}

.list-group-item {
  padding: 20px;
  border: 1px black solid;

  /* align-items: flex-start; */
}

.chart {
  padding: 10px;
}

.sign {
  padding: 10px;
}

.sign.icon {
  max-width: 50px;
}

.chart-id {
  padding: 10px;
  font-size: 0.6rem;
}

.page-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 0;
  margin-top: 50px;
}
